#main {
    height: 100%;
    background-color: #30374c;
    padding: 1rem;
    color: white;
    font-family: "Poppins",sans-serif;
    align-items: center ;
}

#base-query {
    background-color: #1e1e1e;
    color:white;
    height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left;
    padding-left:10px;
    width: 95%;
    border: 1rem;
    border-color: #333435;
    border-style: solid;
}

#toolbar {
    width: 96%;
    height: 10%;
    background-color: #1e1e1e;
    border: 1rem;
    border-color: #333435;
    border-style: solid;
    padding: 1rem;
}

.layout {
    display: flex;
    justify-content: space-between; 
}

.col {
    flex: 1;
    padding: 5px;
}

*:focus {
    outline: none;
}

input[type=button] {
    color: white;
    background-color: #0e639c;
    border-style: solid;
    font-family: inherit;
    cursor: pointer;
    width: 10rem;
    height: 2rem;
}